<div class="product-item">
    <img class="product-image" [src]="product?.image" />
    <div class="content">
        <h3 class="title">{{ product?.title }}</h3>
        <p class="description">{{ product?.description }}</p>
        <p class="rate">Rate - {{ product?.rating?.rate }}</p>
        <p class="cont">Cont - {{ product?.rating?.count }}</p>
        <p class="price">Price - {{ product?.price }}$</p>
        <img class="cart cart-icon" src="./assets/images/cart-icon.png" (click)="addToCart()" />
    </div>
</div>
